$bg-light: hsl(0, 0%, 90%);
$bg: hsl(0, 0%, 100%);
$bg-dark: hsl(0, 0%, 5%);
$text: hsl(0, 0%, 10%);
$text-muted: hsl(0, 0%, 50%);

body {
	font-family: Arial, sans-serif;
	background-color: $bg-dark;
	color: $text;
}

.text {
	color: $text;
}

.text-muted {
	color: $text-muted;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	border: 1px solid white;
	border-radius: 2rem;
	background-color: $bg;
	margin: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	gap: 0.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input {
	background-color: $bg-light;
	border: 1px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: $text;
}

.login-btn {
	background-color: $bg-dark;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: white;
	width: 100%;
	cursor: pointer;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

p {
	color: $text-muted;
	margin: 0;
	font-size: smaller;
}

a {
	color: $text;
	text-decoration: underline;
}
